<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>

<h1>Epic Task</h1>
<h2>Registro</h2>

<form action="/user" method="post" th:object="${user}">
	<label for="name">Nome</label><br>
	<input name="name" id="name" th:field="*{name}" /><br><br>
	<span th:errors="*{name}" ></span><br>

	<label for="email">Email</label><br>
	<input name="email" id="email" th:field="*{email}"/><br><br>
	<span th:errors="*{email}"></span><br>


	<label for="pass">Senha</label><br>
	<input type="pass" name="pass" id="pass" th:field="*{pass}" /><br><br>
	<span th:errors="*{pass}"></span><br>


	<button><a href="/login">Voltar</a></button>
	<button>Cadastrar</button>
</form>

</body>
</html>